<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="#">My Portfolio</a>
    </div>
    <div class="navbar-toggle" (click)="toggleMenu()">☰</div> <!-- Menu toggle button -->
    <div class="navbar-menu" [ngClass]="{'active': isMenuOpen}">
      <ul class="navbar-links">
        <li><a href="#page1" (click)="closeMenu()">Home</a></li>
        <li><a href="#page2" (click)="closeMenu()">Experiences</a></li>
        <li><a href="#page3" (click)="closeMenu()">Work</a></li>
        <li><a href="#page4" (click)="closeMenu()">Skills</a></li>
        <li><a href="#page5" (click)="closeMenu()">AboutMe</a></li>
        <li><a href="#page6" (click)="closeMenu()">Publications</a></li>
        <li><a href="#page8" (click)="closeMenu()">Education</a></li>
        <li><a href="#page7" (click)="closeMenu()">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>