<nav class="navbar" style="right: 0px;">
  <div class="container">
    <div class="navbar-brand">
      <a href="#">My Portfolio</a>
    </div>
    <div class="navbar-toggle" (click)="toggleMenu()">☰</div> <!-- Menu toggle button -->
    <div class="navbar-menu" [ngClass]="{'active': isMenuOpen}">
      <ul class="navbar-links">
        <li><a href="#page1">Home</a></li>
        <li><a href="#page3">Experiences</a></li>
        <li><a href="#page4">Skills</a></li>
        <li><a href="#page5">AboutMe</a></li>
        <li><a href="#page6">Publications</a></li>
        <li><a href="#page7">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>