/* You can add global styles to this file, and also import other style files */
html, body {
    height: fit-content;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: white;
    background-color: black;
}

#page7 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  color: #000;
  font-size: 6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.contact-form {
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 1rem 2rem;
  background-color: rgb(154, 255, 53);
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: rgb(123, 204, 42);
}
